.projects-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 252);
    padding: 10px;

}
.proj-heading{
    font-size: 30px;
    color:rgb(1, 1, 59);
    margin-top: 1.8em;
    text-decoration: underline;
}
.single-proj{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
    
}
.description-cont{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    margin: 10px;
    width: 40%;
    background-color: aliceblue;
    background-size: cover;
}
.image-size{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
}
.view-button{
    
    outline: 0;
    border-radius: 30px;
    border-color: blue;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    font-weight: 600;
}
.order-reversed {
    order: -1; 
  }